# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://agtqeyusuuicaixnjfou.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFndHFleXVzdXVpY2FpeG5qZm91Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg2MDIyNjMsImV4cCI6MjA5NDE3ODI2M30.IP9MryZsWVYmAEsfLniwQUZX-tcNwBWjNkxrbi-eISY
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFndHFleXVzdXVpY2FpeG5qZm91Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODYwMjI2MywiZXhwIjoyMDk0MTc4MjYzfQ._3WMe5Tz7FxeZd0yYTcX5DBe0ZUqj7IP_dLWJTK0SPE

# Google Gemini
GEMINI_API_KEY=AIzaSyCBd_kPFYgLWvb7MV8_x02b-QHR-37NKtI

# Resend (transactional email)
RESEND_API_KEY=re_a9StwN9m_AkZrN7w7AnCsKPkVWsLAqRk3
RESEND_FROM_EMAIL=onboarding@resend.dev

# App
NEXT_PUBLIC_APP_URL_LOCAL_HOST=http://localhost:300
NEXT_PUBLIC_APP_URL=spendlens-kvd6-b7fk7l6rb-orchid66s-projects.vercel.app


